<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone 4</title>
    <style>
        .response-area {
      margin-top: 20px;
      background-color: black;
      padding: 20px;
      display: inline-block;
    }
    .text{
        color: aqua;
    }
    </style>
</head>
<body>
    <div class="response-area">
        <p>

            <ul class="text">
                <h2>USD Conversion Rates</h2>
                <li>
                    <p>Indian Rupees:<%= inr %></p>
                </li>
                <li>
                    <p>Great British Pounds:<%= gbp %></p>
                </li>
                <li>
                    <p>Canadian Dollars:<%= cad %></p>
                </li>
                <li>
                    <p>Australian Dollars:<%= aud %></p>
                </li>
            </ul>
        </p>
        <img src="" />
</body>
</html>